 /*max-width:576px*/

@media (max-width: 576px) {
    .iphone-img {
        display: none;
    }

    #container {
        right: 80%;
    }
    
    .login-form, .no-account-holder {
        background-color: rgb(247, 243, 243);
        border: none;
    }
    
    input {
        background-color: rgb(247, 243, 243);
    }
}
