 /*max-width:576px*/
.iphone-img {
    display: none;
}

.login-form, .no-account-holder {
    background-color: rgb(247, 243, 243);
    border: none;
}
    
input {
    background-color: rgb(247, 243, 243);
}