 /*max-width:576px*/
 .smart-phone {
    display: none;
}

.login-form, .no-account-holder {
    background-color: rgb(249, 249, 249);
    border: none;
}
    
input {
    background-color: rgb(249, 249, 249)
}