* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 243, 243);
}

.login-form h1 {
    font-family: 'Sansita Swashed', cursive;
}


/*NAVIGATION*/
.navbar ul {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 30px;
}

.navbar ul li {
    text-transform: uppercase;
}


.navbar ul a {
    color: rgb(26, 26, 119);
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}

.fcb-copyright {
    margin-left: 30px;
    color: grey;
}